.card-caja{
    flex: 1 250px;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px 5px 5px;
}
.btn-readmore{
    width: 100%;
    position: bottom;

}
.cont-icono{
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}