<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-2 p-0">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-inicio-list" data-toggle="list" href="#dashboard" role="tab" aria-controls="home">Dashboard</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#variables" role="tab" aria-controls="profile">Variables</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#mapas" role="tab" aria-controls="messages">Mapas</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#graficas" role="tab" aria-controls="settings">Graficas</a>
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#tablas" role="tab" aria-controls="home">Tablas</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Reportes</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Mensajes</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Alertas</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Configuracion Cuenta</a>

          </div>
        </div>
        <div class="col-10">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="list-home-list">
                <div class="d-flex flex-wrap flex-row-reverse my-5">
                    <div class="card-caja d-flex flex-column justify-content-between shadow">
                        <div class="card-body">
                            <h4>NODOS ACTIVOS</h4>
                        </div>
                        <div>
                            <button class="btn btn-readmore btn-warning"><strong>READ MORE</strong></button>
                        </div>
                    </div>
                    <div class="card-caja d-flex flex-column justify-content-between shadow">
                        <div>
                            <button class="btn btn-readmore btn-success">Notifications <span class="badge badge-danger">4</span></button>
                        </div>
                    </div>
                    <div class="card-caja d-flex flex-column justify-content-between shadow">
                        <div>
                            <button class="btn btn-readmore btn-success">NODOS ACTIVOS <span class="badge badge-danger h5">4</span></button>
                        </div>
                    </div>
                    <div class="card-caja d-flex flex-column justify-content-between shadow">
                        <div class="card-body">
                            <h4>NODOS ACTIVOS</h4>
                        </div>
                        <div>
                            <button class="btn btn-readmore btn-warning"><strong>READ MORE</strong></button>
                        </div>
                    </div>                   
                    <div class="card-caja d-flex flex-column justify-content-between shadow">
                        <img src="./img/B.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h4>ferrari california</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>
                                <strong> Ubicacion: </strong> Barcelona, España.
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-readmore btn-warning"><strong>READ MORE</strong></button>
                        </div>
                    </div>
                    <div class="card-caja d-flex flex-column justify-content-between shadow">
                        <img src="./img/C.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>alpine A110 clasico</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>
                                <strong> Ubicacion: </strong> Barcelona, España.
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-readmore btn-warning"><strong>READ MORE</strong></button>
                        </div>
                    </div>
                    <div class="card-caja d-flex flex-column justify-content-between shadow">
                        <img src="./img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>audi a4 folierung kosten</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>
                                <strong> Ubicacion: </strong> Barcelona, España.
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-readmore  btn-warning"><strong>READ MORE</strong></button>
                        </div>
                    </div>
                    <div class="card-caja d-flex flex-column justify-content-between shadow">
                        <img src="./img/E.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>subaru WRX</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>
                                <strong> Ubicacion: </strong> Barcelona, España.
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-readmore  btn-warning"><strong>READ MORE</strong></button>
                        </div>
                    </div>
                </div>










            </div>
            <div class="tab-pane fade" id="variables" role="tabpanel" aria-labelledby="list-profile-list">variables</div>
            <div class="tab-pane fade" id="mapas" role="tabpanel" aria-labelledby="list-messages-list">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10">
                            <google-map class="p-1" width="100%"></google-map>
                        </div>
                        <div class="col-2 shadow p-0">
                            <h6 class="align-text-justify">
                                Seleccione Transportista
                            </h6>
                        </div>
                    </div>
                </div>
                

            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">graficas</div>
          </div>
        </div>
      </div>
    
</div>

<style type="text/css">
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
  </style>