<div class="row m-0">
    <div class="col-sm-0 col-md-0 col-lg-3 col-xl-3">
        <div class="list-group" id="list-tab" role="tablist">
                <a  class="list-group-item list-group-item-action active" id="list-add-node-list" 
                    data-toggle="list" href="#add-node" 
                    role="tab" aria-controls="add-node">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-node-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                    </svg>
                    <small class="pl-3">Añadir Estacion</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-delete-node-list" 
                    data-toggle="list" href="#delete-node" 
                    role="tab" aria-controls="delete-node">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-node-minus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM8 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 8 8z"/>
                    </svg>
                    <small class="pl-3">Borrar Estacion</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-mapa-list" 
                    data-toggle="list" href="#mapa" 
                    role="tab" aria-controls="mapa">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-map" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                    </svg>
                    <small class="pl-3">Seguimiento Ruta</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-posicion-list" 
                    data-toggle="list" href="#posicion" 
                    role="tab" aria-controls="posicion">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <small class="pl-3">Ubicacion</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-sensores-list" 
                    data-toggle="list" href="#sensores" 
                    role="tab" aria-controls="sensores">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-thermometer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6 2a2 2 0 1 1 4 0v7.627a3.5 3.5 0 1 1-4 0V2zm2-1a1 1 0 0 0-1 1v7.901a.5.5 0 0 1-.25.433A2.499 2.499 0 0 0 8 15a2.5 2.5 0 0 0 1.25-4.666.5.5 0 0 1-.25-.433V2a1 1 0 0 0-1-1z"/>
                        <path d="M9.5 12.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                    <small class="pl-3">Sensores</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-mp-list" 
                    data-toggle="list" href="#mp" 
                    role="tab" aria-controls="mp">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                    </svg>
                    <small class="pl-3">Mantenimiento Predictivo</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-grafico-list" 
                    data-toggle="list" href="#grafico" 
                    role="tab" aria-controls="grafico">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pie-chart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M7.5 7.793V1h1v6.5H15v1H8.207l-4.853 4.854-.708-.708L7.5 7.793z"/>
                    </svg>
                    <small class="pl-3">Graficos</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-tablas-list" 
                    data-toggle="list" href="#tablas" 
                    role="tab" aria-controls="tablas">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-table" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                    </svg>
                    <small class="pl-3">Tablas Informacion</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-mensaje-list" 
                    data-toggle="list" href="#mensaje" 
                    role="tab" aria-controls="mensaje">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chat-left-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                    <small class="pl-3">Mensajes</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-alertas-list" 
                    data-toggle="list" href="#alertas" 
                    role="tab" aria-controls="alertas">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                        <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                    <small class="pl-3">Alertas</small>
                </a>      
                <a  class="list-group-item list-group-item-action" id="list-reportes-list" 
                    data-toggle="list" href="#reportes" 
                    role="tab" aria-controls="reportes">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-info" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                        <circle cx="8" cy="4.5" r="1"/>
                    </svg>
                    <small class="pl-3">Reportes</small>
                </a>
                <a  class="list-group-item list-group-item-action" id="list-conf-list" 
                    data-toggle="list" href="#conf" 
                    role="tab" aria-controls="conf">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-gear" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"/>
                        <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"/>
                    </svg>
                    <small class="pl-3">Configuracion Cuenta</small>
                </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <div class="tab-content" id="nav-tabContent">

                <!-- Ventanas de desarrollo-->

                <div class="tab-pane fade show active" id="add-node" role="tabpanel" aria-labelledby="list-add-node-list">
                    <app-addnode></app-addnode>
                </div>
                <div class="tab-pane fade" id="delete-node" role="tabpanel" aria-labelledby="list-delete-node-list">
                    <app-delnode></app-delnode>
                </div>
                <div class="tab-pane fade" id="mapa" role="tabpanel" aria-labelledby="list-mapa-list">
                    <app-maps-route></app-maps-route>
                </div>
                <div class="tab-pane fade" id="posicion" role="tabpanel" aria-labelledby="list-posicion-list">
                    <app-maps-position></app-maps-position>
                </div>
                <div class="tab-pane fade" id="sensores" role="tabpanel" aria-labelledby="list-sensores-list">
                    Sensores en construccion...
                </div>
                <div class="tab-pane fade" id="mp" role="tabpanel" aria-labelledby="list-mp-list">
                    Mantenimiento Preventivo en construccion...
                </div>
                <div class="tab-pane fade" id="grafico" role="tabpanel" aria-labelledby="list-grafico-list">
                    Graficos en construccion...
                </div>
                <div class="tab-pane fade" id="tablas" role="tabpanel" aria-labelledby="list-tablas-list">
                    Tablas en construccion...
                </div>
                <div class="tab-pane fade" id="mensaje" role="tabpanel" aria-labelledby="list-mensaje-list">
                    Mensajes en construccion...
                </div>
                <div class="tab-pane fade" id="alertas" role="tabpanel" aria-labelledby="list-alertas-list">
                    Alertas en construccion...
                </div>
                <div class="tab-pane fade" id="reportes" role="tabpanel" aria-labelledby="list-reportes-list">
                    Reportes en construccion...
                </div>
                <div class="tab-pane fade" id="conf" role="tabpanel" aria-labelledby="list-conf-list">
                    Configuracion de Cuenta en construccion...
                </div>
        </div>
    </div>
</div>