<div class="container pt-2">
    <h3> AÑADIR ESTACION DE TRABAJO</h3>
    <hr>
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Ingrese Identificador Nodo (Raspberry)</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="56654687654">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Seleccione al transporte para asociar (previamente creados)</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>TRANSPORTE 1</option>
            <option>TRANSPORTE 2</option>
            <option>TRANSPORTE 3</option>
            <option>TRANSPORTE 4</option>
            <option>TRANSPORTE 5</option>
          </select>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-outline-info m-1 p-3"data-toggle="modal" data-target="#exampleModal">Crear Estacion</button>
                  
                  <!-- Alerta estacion creada-->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Estacion Creada</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          La secret_key para la ID de raspberry es:
                          <br><br>
                          <span>x%&sc_32klm$#_asdf32er3r</span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Listo!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <button type="reset" class="btn btn-outline-info m-1 p-3">Reestablecer</button>
            </div>
        </div>
        
      </form>
    

</div>

<hr>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-primary">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID NODO</th>
            <th scope="col">TRANSPORTE ASOCIADO</th>
            <th scope="col">FECHA CREACION</th>
            <th scope="col">SECRET_KEY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">_654625432133</th>
            <td>65876824655</td>
            <td>SCANIA RX-PJ-23</td>
            <td>03-07-2020</td>
            <td>*************
            </td>
          </tr>
          <tr>
            <th scope="row">_654759834758</th>
            <td>65876824655</td>
            <td>VOLVO FD-CJ-34</td>
            <td>13-02-2020</td>
            <td>*************</td>
          </tr>
          <tr>
            <th scope="row">_654625432133</th>
            <td>65876824655</td>
            <td>SCANIA RX-PJ-23</td>
            <td>03-07-2020</td>
            <td>*************</td>
          </tr>
        </tbody>
      </table>
</div>
