<div class="table-responsive">
    <table class="table">
        <thead class="thead-primary">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID NODO</th>
            <th scope="col">TRANSPORTE ASOCIADO</th>
            <th scope="col">FECHA CREACION</th>
            <th scope="col">SECRET_KEY</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">_654625432133</th>
            <td>65876824655</td>
            <td>SCANIA RX-PJ-23</td>
            <td>03-07-2020</td>
            <td>*************</td>
            <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1"> Eliminar</button>
                <!-- Alerta estacion creada-->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">¿Seguro deseas eliminar la estacion?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Recuerda que no podras deshacer los cambios.
                          <br><br>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-warning">Confirmar</button>
                          <button type="button" class="btn btn-outline-warning" data-dismiss="modal"> Volver Atras</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </td>
          </tr>
          <tr>
            <th scope="row">_654759834758</th>
            <td>65876824655</td>
            <td>VOLVO FD-CJ-34</td>
            <td>13-02-2020</td>
            <td>*************</td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"> Eliminar</button></td>
          </tr>
          <tr>
            <th scope="row">_654625432133</th>
            <td>65876824655</td>
            <td>SCANIA RX-PJ-23</td>
            <td>03-07-2020</td>
            <td>*************</td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"> Eliminar</button></td>
          </tr>
                  
                  
        </tbody>
      </table>
</div>