<div class="container-fluid pt-2">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Seleccione al transporte para ubicar</label>
        <select class="form-control form-inline" id="exampleFormControlSelect1">
          <option>TRANSPORTE 1</option>
          <option>TRANSPORTE 2</option>
          <option>TRANSPORTE 3</option>
          <option>TRANSPORTE 4</option>
          <option>TRANSPORTE 5</option>
        </select>
      </div>
    <hr>
    <google-map class="p-1" width="100%"></google-map>
</div>